@import url("https://fonts.googleapis.com/css?family=Montserrat:500");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #edf0f1;
  text-decoration: none;
  background-color: #242524;
}

header {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #242524;
  place-items: center;
}

.nav_links li,
.nav_links a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #edf0f1;
  text-decoration: none;
  background-color: #242524;
}

.Header-left {
  justify-self: start;
  display: flex;
  gap: 50px;
}

.nav_links {
  list-style: none;
  display: flex;
  justify-content: space-around;
  gap: 50px;
}

.nav_links li a {
  transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
  color: #d40e0e;
}

.header-right {
  justify-self: flex-end;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 120px;
}

button {
  padding: 4px 25px;
  background-color: rgb(233, 24, 24, 0.9);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3 ease 0s;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 126px;
  border-radius: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #242524;
  color: white;
  border-radius: 10px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.line_1 {
  height: 30px;
  width: 0.5px;
  background-color: white;
}
